$primary:#3292a6;
$primary-overlay: rgba(50,146,156,.7);

body{
    margin-top: 90px;
}

.navbar{
    box-shadow: 2px 2px 5px $primary;
    background: #fff;
    opacity: .9;

    .nav-item{
        font-size: 1.4rem;
        padding-right: 20px;
        // padding: .25rem;


        .nav-link{
            color: #252525
        }
        
        .nav-link:hover{
            color: rgb(100, 100, 230);
        }
    }
    // .nav-item:hover{
    //     background:rgb(248, 226, 226);
    // }
}
.nav-item:last-child{
    padding-right: 0px;
}

#home{
    position: relative;
    background: url('../img/mountains.jpg');
    min-height: 600px;

    .primary-overlay{
        background: $primary-overlay;
        min-height: 600px;
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    a{
        border-radius: 0px;
    }
}

#subscribe{
    background: #252525;
    button{
        background: $primary;
        border-radius: 0px;
    }
    input{
        border-radius: 0px;   
    }
}

#boxes{
    .card{
        border-radius: 0px;
    }
    .a{
        background: $primary;
    }
}


#authors{
    img{
        margin-top: -50px;
    }
    .fa{
        font-size: 25px;
    }
    .col-sm-12{
        margin-bottom: 50px;
    }
    .card:hover{
        background: $primary;
        color: #fff;

        .fa{
            color: #fff;
        }
    }
}


#footer-main{
    background: $primary;
}



@media(max-width: 576px){
    #home{
        h1{
            font-size: 4rem;
        }
    }
}
// @media(max-width: 1200px){
//     #authors{
//         .card{
//             min-height: 451.7px;
//         }
//     }
// }











